.wordsItem{
    border-bottom-style: solid 
}

.wordsImg{
    width: 150px;
    height: 100px;
}

.turnPeges {
    /* color: red; */
    justify-content: center;
    display: flex;
    font-size: 25px;
}

.coutPeges {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.mar {
    margin-left: 20px;
}

.iconSelect {
    font-size: 45px;
    margin-left: 20px;
    margin-right: 20px;
}