.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 35px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 34px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
