.game {
  border-radius: 34px;
  height: 100%;
  width: 100%;
  color: white;
  background: rgb(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-left: 5px;
}

.options {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.option {
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(235, 228, 219, 0.596);
  margin: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.falling {
  border-radius: 5px;
  padding: 2px;
  background-color: rgba(235, 228, 219, 0.596);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
