.wrapper {
    position: relative;
    height: 500px;
    margin: 35px 0;
    padding: 50px;
    background-color: #ffa51e;
    border-radius: 34px;
    color: #FFF;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
